<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="bag-check-outline"></ion-icon> CURSOS</ion-title>
    <ion-back-button defaultHref="/inicio" color = "tertiary"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Tabs-->
  <ion-tabs>
    <!--1ºDAM-->
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="dam1">
        <ion-icon name="map"></ion-icon>
        <ion-label>1ºDAM</ion-label>
      </ion-tab-button>
      <!--2ºDAM-->
      <ion-tab-button tab="dam2">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>2ºDAM</ion-label>
      </ion-tab-button>
      <!--FCT-->
      <ion-tab-button tab="fct">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>FCT</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
