<ion-header>
  <ion-toolbar>
    <!--Titulo-->
    <ion-title><ion-icon name="home-outline"></ion-icon> INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Datos personales-->
  <ion-button color="tertiary" expand="full" routerLink="/datos-personales">
  <ion-icon name="accessibility-outline"></ion-icon>
  <ion-label> Datos personales</ion-label>
  </ion-button>

  <!--cursos-->
  <ion-button color="secondary" expand="full" routerLink="/tabs">
  <ion-icon name="folder-outline"></ion-icon>
  <ion-label> Cursos</ion-label>
  </ion-button>

</ion-content>
