<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Página principal</strong>
    <p>Hola</p>
    <ion-button color="medium" routerLink="/pagina1">Pagina 1</ion-button>
    <ion-button color="medium" routerLink="/pagina2">Pagina 2</ion-button>
  </div>
</ion-content>
